body{

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    background:#f5f7fb;

}

.container{

    width:90%;

    margin:auto;

}

.top-section{

    display:flex;

    gap:25px;

    margin-top:30px;

    align-items:flex-start;

}

.card{

    background:white;

    border-radius:15px;

    padding:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}